<!DOCTYPE html>
<html>
    <head>
        <title><%-sails.config.dynamics.APPLICATION_NAME%></title>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
        />
    </head>
    <body>
        <div id="page-wrap">
            <%- body %>
        </div>
    </body>
</html>
